/* Universal styling */
* {
    box-sizing: border-box;
    list-style-type: none;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

body {
    background-color: beige;
    color: rgb(69, 65, 72);
    padding: 10px;
    height: 100%;
}

/* index or landing page */
.hero-container {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;

}
.gallery{
    width: 100%;
    text-align: center;
    background-color: beige;
    margin-right: 5px;
    margin-left: 5px;

}

.gfg {
    filter: blur(2px);
    width: 100%;
    height: 600px;
}

.banner{
    background-color: lightpink;
    margin: auto;
    text-align: center;
}

.product-column{
    align-items: center;
    width: 375px;
    height: 335px;
    margin: 15px;
    background-color: beige;

}

.img{
    width: 100%;
}

.some-products{
    width: 100%;
    text-align: center; 
    height: 450px; 
    background-color:beige;
    margin-bottom: 75px;
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Products page */
ul#list-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    transition: all 0.4s ease;
   
}

#list-group-item {
    border: white;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    text-align: center;
    width: 400px;
    height: 450px;
    background-color: white;
}

li #img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
  
    
}

img.prods:hover {
    opacity: 0.5;
    transition: .5s ease;
}

/* Product details page */
.container {
    position: relative;
    width: 770px;
    height: 620px;
    padding: 1px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    
}


#backBtn {
    text-align: center;
    margin-top: 10px;
}

/* a.backButton {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border: 0.2px solid #333333;
    border-radius: 3px;
} */

span {
    line-height: 1.2em;
    font-size: 1.05em;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    margin: 20px 0;
    padding: 35px 0px 0px 55px;
}

.content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    float: left;
    padding: 20px;
    background-color: white;
}

.product-image {
    height: 400px;
}

.content-right {
    width: 450px;
    padding: 35px;
    text-align: center;
    justify-content: center;
    background-color: white;
    
}


@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

.carousel-multi-item-2 .card img {
  border-radius: 0%;
}

.col-md-3{
    margin-bottom: 10px;
}

.product-div{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 450px;
    background-color: beige;
    justify-content: center;


}

/* CHECKOUT */
  .text-div{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: beige;
    justify-content: center;
  }

  .text-column{
    width: 300px;
    height: 70px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-div {
    width: 100%;
    height: 300px;
    text-align: center;
  }
  
table.table.table-borderless {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    border-spacing: 2px;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal;
}

tbody tr {
    background-color: white;
    border-bottom: 1px solid #dddddd;
}

.btn{
    color: black;
    background-color:lightpink;
    border-color: lightpink;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px; 
    border-radius: 5px;
  }

thead {
    background-color: white;
    border-bottom: 1px solid #dddddd;
}

.form-box {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: white;
    text-align: center;
    margin: auto;
}

.form-row {
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.form-row input {
    background-color: beige;
    border: none;
}